*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8a79b9;
    background-image: url(../images/IMG_1467.JPG) ;
    background-size: cover;
}

header{
    background-color: rgba(66, 12, 12, 0.2);
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-image: linear-gradient(45deg , #200961, #ee4b2b);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 1;
}

h2 {
    text-align: center;
    color: #9e371d;
    font-size: 36px;
    margin-top: 10%;
}
nav {
    float: right; 
    margin-left: 25px;
    padding-top: 10px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style: none;
    display: block;
    z-index: 1;
}

a {
    color: #ffffff;
    text-decoration: none;
    text-align: right;
    margin-left: 25px;
    padding-right: 25px;
    display: inline;
}

section {

    padding: 10px;
    min-height: 100%;
    display: block;
    z-index: 2;
}

img {
    width: 400px;
    height: 200px;
    border: #200961 solid 10px;
}
#picture-1 {
    position: relative;
    margin-top: 10%;
    margin-left: 25%;

}

#picture-2{
    position: relative;
    left: 100px;
    margin-top: 10%;
    margin-right: 25%;
    
}

#picture-3{
    position: relative;
    top: 50px;
    margin-left: 25%;
   
}

#picture-4{
    position: relative;
    left: 100px;
    top: 50px;
    margin-right: 25%;
    
}
p {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

ul {
    margin-bottom: 10%;
    margin-left: 5%;
    font-size: 24px;
    color: #ffffff;
}
footer {
    position:relative;
    bottom:0;
    right: 0;
    left: 0;
    width:100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(36, 32, 32);
  }

  @media screen and (max-width: 1627px) {
    #picture-1 {
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
    
    }
    
    #picture-2{
        position: relative;
        left: 100px;
        margin-top: 5%;
        margin-right: 15%;
        
    }
    
    #picture-3{
        position: relative;
        top: 50px;
        margin-left: 15%;
       
    }
    
    #picture-4{
        position: relative;
        left: 100px;
        top: 50px;
        margin-right: 15%;
        
    }
  }

  @media screen and (max-width: 1168px) {
    #picture-1 {
        position: relative;
        margin-top: 5%;
        margin-left: 10%;
    
    }
    
    #picture-2{
        position: relative;
        left: 100px;
        margin-top: 5%;
        margin-right: 10%;
        
    }
    
    #picture-3{
        position: relative;
        top: 50px;
        margin-left: 10%;
       
    }
    
    #picture-4{
        position: relative;
        left: 100px;
        top: 50px;
        margin-right: 10%;
        
    }
  }

  @media screen and (max-width: 1024px) {
    #picture-1 {
        margin-left: 30%;
        display: block;
    
    }
    
    #picture-2{
        margin-left: 20%;
        display: block;
        
    }
    
    #picture-3{
        margin-left: 30%;
        display: block;
       
    }
    
    #picture-4{
        margin-left: 20%;
        margin-top: 5%;
        display: block;
        
    }
  }
    